 @import url("https://fonts.googleapis.com/css2?family=Bangers&family=Poppins:ital,wght@0,400;0,600;1,200&family=Road+Rage&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Bangers", cursive;
  font-family: "Poppins", sans-serif;
  font-family: "Road Rage", cursive;
  background-color: rgb(0, 0, 0);
}
.contenedornav1 {
  height: 90px;
  width: 100%;
  background-image: linear-gradient(rgb(7, 251, 251), rgb(203, 19, 244));
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.logo {
  margin-left: 10px;
  font-size: 30px;
  font-family: fantasy;
  color: black;
}
.nav {
  background-color: none;
  margin-right: 30px;
}
.nav ul li {
  display: inline-block;
  font-size: 40px;
}
.nav ul {
  margin-right: 30px;
}
.nav a {
  font-size: 20px;
  margin-left: 10px;
  text-decoration: none;
  color: rgba(13, 13, 13, 0.916);
  align-content: space-around;
}
.nav a:hover {
  color: rgb(250, 254, 254);
}
.parrafo {
  height: 90px;
  width: 100%;
  background-image: linear-gradient(rgb(85, 92, 92), rgb(184, 184, 184));
  display: flex;
  text-transform: uppercase;
  border: 3px solid black;
}

.parrafo p {
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  text-align: center;
  box-shadow: 10px 8px 12px black;
}
.parrafo img {
  border: 1px solid black;
}
.carru {
  height: 100px;
  width: 100%;
  display: inline;
  align-content: center;
}
.carousel-item {
  height: 500px;
  width: 100%;
  background: no-repeat scroll scroll;
  -webkit-background-size: cover;
  background-size: cover;
  border-bottom: 10px solid rgb(238, 236, 236);
}
.efec1{
  height: 280px;
  width: 100%;
  background-color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.efec1 h2{
  color: white;
  width: 50%;
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-left: 10px;
}
.efec1 img{
  width: 250px;
  height:200px;
  margin-right: 60px;
  transition: 2s;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 1px 10px 15px rgb(0, 0, 0);
  float: right;
  align-items: center;
}
.efec1 img:hover{
  transform: translateX(-20%);
  filter: brightness(80%);
}
.footer {
  background-image: linear-gradient(aqua, rgb(67, 10, 116));
  height: 130px;
  width: 100%;
  padding: 20px;
  text-align: center;
}
.footer p {
  font-size: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.footer i {
  font-size: 30px;
  color: rgb(6, 6, 6);
  letter-spacing: 10px;
}
.footer i:hover {
  color: rgb(248, 248, 248);
}
@media only screen and (max-width: 1032px){
  .parrafo p{
    font-size: 12px;
  }
  .efec1 h2{
    font-size: 10px;
  }
  }
  @media only screen and (max-width: 606px){
    .parrafo p{
      font-size: 9px;
    }
  .nav ul li{
  font-size: 15px; 
  }
  .carru{
    height: 150px;
  }
  .efec1{
    height: 600px;
    display: block;
  }
  .efec1 h2{
    margin-left: 10px;
    text-align: justify;
    width: 92%;
  }
.efec1 img{
    height: 325px;
    width: 90%;
  }
    
    .carousel-inner{
      height: 300px;
    }
    .efec1{
      height: 500px;
    }
    .parrafo p{
      font-size: 6px;
    }
    .efec1 img{
      height: 250px;
      width: 83%;
    }
    }
    @media only screen and (max-width: 336px){
      .carousel-inner{
        height: 200px;
      } 
      .efec1 img{
        background-color: aqua;
        height: 150px;
        width: 83%;
        
      }
      @media only screen and (max-width: 320px){
        .contenedornav1 a{
          font-size: 13px;
        }
        .logo{
          font-size: 25px;
        }
        .parrafo img{
          width: 35%;
        }
        }



