@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Poppins:ital,wght@0,400;0,600;1,200&family=Road+Rage&display=swap');
 *{
    margin: 0;
    padding: 0; 
}
body{
    font-family: 'Bangers', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Road Rage', cursive;
}

.contenedornav{
    height: 70px;
    width: 100%;
    background-image: linear-gradient(rgb(71, 78, 78), white );
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.logo{
    margin-left: 10px;
    background-color: none;
    font-size: 30px;
    font-family: monospace;
    font-family: fantasy;
    line-height: 40px;    
}
.nav{
    background-color:none;
    margin-right: 30px; 
    border: 2px solid black;  
    border-radius: 3px;
    }   
 .nav ul li{
     display: inline-block;
     font-size: 40px; 
    }
 .nav a{
    font-size: 20px;
    margin-left: 10px;
    text-decoration: none ;
    color: rgba(2, 2, 2, 0.916);align-content: space-around;
    }
    .nav a:hover{
        color: rgb(249, 252, 252);
    }
    .contentainer{
       min-height: calc(100vh - 100px - 300px); 
    }
    section{
        padding-bottom: 3em;
        padding-top: 1em;
        background-image: linear-gradient(rgb(169, 169, 169), aqua);
        border: 2px solid black   
    }
    h1{
        text-align: center;
        font-size: 45px;
        animation-duration: 1s;
        animation-name: aparecer;
        animation-delay: 6s;
        animation-direction: alternate;
        animation-iteration-count: infinite;
    }
    @keyframes aparecer{

    0%{
        opacity: 0;
    }

   100%{
       opacity: 1;
   }
}
    .galeria{
        display: flex;
        justify-content: center;
        min-height:400px;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 3500px);     
    }
    .img{ 
       
        border: 4px solid rgb(102, 179, 185);
   }
 .img1{      
        background-image: url(img/img1.jpg);
        background-size: cover;
        background-position: center;
    }
.img2 {        
        background-image: url(img/img2.jpg);
        background-size: cover;
        background-position: center; 
    }
.img3{      
        background-image: url(img/img3.jpg);
        background-size: cover;
        background-position: center;
    }
.img4{         
        background-image: url(img/img4.jpg);
        background-size: cover;
        background-position: center; 
    }
.img5{         
        background-image: url(img/img5.jpg);
        background-size: cover;
        background-position: center;
}  
.img6{         
       background-image: url(img/img6.jpg);
       background-size: cover;
       background-position: center;
}       
.footer{
      height: 100px;
      width: 100%;
      background-image: linear-gradient(aqua,plum);
      text-align: center; 
      padding: 20px;  
      border: 5px solid black;    
}
footer p{
     font-size: 10px;
     text-transform: uppercase;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     margin-bottom: 15px;
}
.footer i{
     font-size: 40px;
     color: rgb(0, 0, 0);
     letter-spacing: 15px;
}
       @media only screen and (min-width:320px){
         .galeria{
               grid-template-columns: repeat(1, 1fr);   
               grid-template-rows: repeat(6, 110px);
         }
         header{
               height: 60px;
               width: 10%; 
        } 
        .footer11{  
               height: 300px;
               width: 73%;
               padding: 40px;  
               border: 2px solid black;
        } 
        footer p{
              font-size: 7px;
              margin-bottom: 30px;
              text-align: center;
        }
        footer i{
              font-size: 30px;
        }                   
        } 
 /*@media queries///////////////////////////////////////////////*/
      @media only screen and (min-width:458px){
       .galeria{
              grid-template-columns: repeat(2, 1fr); 
              grid-template-rows: repeat(3, 250px);
               }
       header{
             height: 70px;
             width: 93%;
             }
     .nav ul li{
             display: inline-block;
             font-size: 10px;
             }
     .footer11{ 
           width: 82%;
           border: 1px solid black;
           }
        }
       @media  only screen and (min-width:786px){
        .galeria{
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: repeat(2, 250px);
        }
        header{
              height: 53px;
              width: 95%;
           }
           .footer11{ 
            height: 65px; 
            width: 95%;
        }
        footer i{
            font-size: 20px;
            color: rgb(6, 14, 12);
            letter-spacing: 9px;
         }
        
        }        
      @media  only screen and (min-width:1011px){
        .galeria{
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: repeat(2, 215px);                          
        } 
       
        .img1.jpg{
                grid-column: 1/2;
                grid-row: 1/2;            
        }
        .img2.jpg{
                grid-column: 2/3;
                grid-row: 1/2;
               
        }
        .img3.jpg{
                grid-column: 3/4;
                grid-row: 1/2;          
        }
        .img4.jpg{
                grid-column: 1/2;
                grid-row: 2/3;          
        }
        .img5{
               grid-column: 2/3;
               grid-row: 2/3;        
        }
        .img6.jpg{
               grid-column: 3/4;
               grid-row: 2/3;
        }   
        .footer11{ 
            height: 65px; 
            width: 88%;
        }
        }
    
      