@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Poppins:ital,wght@0,400;0,600;1,200&family=Road+Rage&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Bangers", cursive;
  font-family: "Poppins", sans-serif;
  font-family: "Road Rage", cursive;
}

.contenedornav- {
  height: 90px;
  width: 100%;
  background-image: linear-gradient(rgb(4, 252, 252), rgb(203, 19, 244));
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin-left: 10px;
  font-size: 30px;
  font-family: fantasy;
}

.nav {
  background-color: none;
  margin-right: 30px;
}

.nav ul li {
  display: inline-block;
  font-size: 40px;
}
.nav ul {
  margin-right: 30px;
}
.nav a {
  font-size: 20px;
  margin-left: 10px;
  text-decoration: none;
  color: rgba(13, 13, 13, 0.916);
  align-content: space-around;
}
.nav a:hover {
  color: rgb(250, 246, 251);
}
.parrafo {
  height: 90px;
  width: 100%;
  background-image: linear-gradient(rgb(85, 92, 92), rgb(184, 184, 184));
  display: flex;
  text-transform: uppercase;
  border: 3px solid black;
}

.parrafo p {
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  text-align: center;
  box-shadow: 10px 8px 12px black;
}
.parrafo img {
  height: 85px;
  border: 1px solid black;
  border-radius: 5px;
}
section {
  height: 650px;
  width: 100%;
  background-color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.fondo img {
  height: 400px;
  width: 100%;
}
.container h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 35px;
  color: white;
}
.container p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  color: white;
}
.zil {
  height: 650px;
  width: 100%;
  background-image: linear-gradient(black, rgb(61, 57, 57));
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.zil img {
  height: 545px;
}
.zil p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 22px;
  color: white;
  padding: 10px;
}
main {
  height: 420px;
  width: 100%;
  background-image: linear-gradient(black, rgb(61, 57, 57));
}
.titulo {
  text-align: center;
}
.titulo h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
  color: white;
}
.titulo p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  color: white;
}
.videos {
  height: 259px;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 60px;
  margin-left: 100px; 
}
.videos iframe {
  height: 300px;
  width: 35%;
}
.videos p {
  width: 40%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  color: white;
  margin-right: 140px;
}
.footer {
  height: 130px;
  width: 100%;
  background-image: linear-gradient(aqua, rgb(67, 10, 116));
  text-align: center;
  padding: 20px;
  border: 3px solid black;
}
.footer p {
  font-size: 10px;
  text-transform: uppercase;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: 15px;
}
.footer i {
  font-size: 30px;
  color: rgb(6, 6, 6);
  letter-spacing: 10px;
}
.footer i:hover {
  color: rgb(255, 250, 250);
}
@media only screen and (max-width: 1148px){
.parrafo img{
  height: 850px;
}
.parrafo img{
  height: 90px;
  width: 23%;
}
  .parrafo p{
    font-size: 12px;
  }
.zil p{
    font-size: 19px; 
}
.zil img{
  height: 400px;
} 
.videos iframe{
  height: 200px;
  width: 30%;
}
.videos p{
  font-size: 15px;
}
}
@media only screen and (max-width: 866px){
  .videos p{
    font-size: 13px;
    margin-bottom: 40px;
  }
  .videos iframe{
    height: 170px;
    margin-bottom: 50px;
  } 
}
@media only screen and (max-width: 695px){
  .zil p{
    font-size: 15px;
  }
  .videos iframe{
    margin-bottom: 150px;
  }
  .videos p{
    margin-bottom: 150px;
    font-size: 10px;
  }
  }
@media only screen and (max-width: 585px){
    .zil {
      display: block; 
    } 
    }
@media only screen and (max-width: 484px){
  .parrafo{
    height: 92px;
  }
    .parrafo p{
      font-size: 8px;
      justify-content: center;
      }
      .fondo img{
        height: 90px;
      }
      .container img{
        width: 90%;
        margin-left: 20px;
      }
      .container h1{
        font-size: 25px;
        text-align: center;
      }
      .container p{
        font-size: 15px;
      }
      section{
      height: 500px ;
      }
      .zil{
        height: 560px;
      }
      .zil p{
        font-size: 10px;
        margin-left: 35px;
      }
      main{
        height: 800px;
      }
      .videos  {
        display: block; 
      } 
      .videos iframe{
        width: 60%;
      }
      .videos p{
        width: 70%;
      }
      }
    @media only screen and (max-width: 390px){
      .logo{
        font-size: 20px;
      }
      .parrafo p{
        font-size: 8px;
        }
        .parrafo img{
          height: 85px;
          width: 74%;
        }
      main{
        height: 880px;
      }
      .zil img{
        height: 310px;
        width: 80%;
      }
      .videos{
        margin: 30%;
        height: 80px;
      }
      .videos p{
        display: block;
        margin-bottom: 252px;
      }
      }
      @media only screen and (max-width: 320px){
      .contenedornav-{
        height: 130px;
      }
      main{
        height: 950px;
      }
      .parrafo p{
        font-size: 7px;
        }
      .parrafo img{
        height: 90px;
      }
      .videos p{
        margin-right: 25px;
        margin-bottom: 130px;
      }
      .footer{
        height: 130px;
      }
      }
