@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Poppins:ital,wght@0,400;0,600;1,200&family=Road+Rage&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Bangers", cursive;
  font-family: "Poppins", sans-serif;
  font-family: "Road Rage", cursive;

}
.contenedornav1 {
  height: 90px;
  width: 100%;
  background-image: linear-gradient(aqua,rgb(67, 10, 116));
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.logo {
  margin-left: 10px;
  background-color: none;
  font-size: 30px;
  font-family: monospace;
  font-family: fantasy;
  line-height: 40px;
}
.nav {
  background-color: none;
  margin-right: 30px;
}
.nav ul li {
  display: inline-block;
  font-size: 40px;
}
.nav a {
  font-size: 20px;
  margin-left: 10px;
  text-decoration: none;
  color: rgba(5, 5, 5, 0.916);
  align-content: space-around;
}
.nav a:hover {
  color: rgb(247, 252, 252);
}
section{
  height: 200px;
  width: 70%;
display: inline; 
}
.carousel-item {
  height: 100vh;
  min-height: 520px;
  background: no-repeat scroll scroll;
  -webkit-background-size: cover;
  background-size: cover;
}
.carousel-item{
  height: 410px;
}
.carousel-caption h5 {
  font-size: 100px;
}
.footer{
  background-color: aqua;
       height: 150px;
       width: 100%;
       text-align: center;
  }
  .footer p{
      font-size: 10px;
  }
  .footer i{
       color: black;
  }

@media only screen and (min-width: 320px) {
  
  header {
    height: 20px;
    width: 10%;
  }
  .nav ul li {
    height: 10px;
  }
  .carousel-item {
    height: 200px;
    
  }
  footer{
    height: 300px;
   
  }
}
@media only screen and (min-width: 458px) {
  .footer22 {
    width: 95%;
    border: 1px solid black;
  }
}
@media only screen and (min-width: 781px) {
  .footer22 {
    height: 40px;
    width: 95%;
  }
  footer i {
    font-size: 20px;
    color: rgb(6, 14, 12);
    letter-spacing: 9px;
  }
}
@media only screen and (min-width: 1011px) {
  .footer22 {
    height: 40px;
    width: 90%;
  }
}
