@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Poppins:ital,wght@0,400;0,600;1,200&family=Road+Rage&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Bangers", cursive;
  font-family: "Poppins", sans-serif;
  font-family: "Road Rage", cursive;
  background-color: black;
}

.contenedornav {
  height: 70px;
  width: 100%;
  background-image: linear-gradient(rgb(7, 251, 251), rgb(203, 19, 244));
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.logo {
  margin-left: 10px;
  background-color: none;
  font-size: 30px;
  font-family: monospace;
  font-family: fantasy;
  line-height: 40px;
}
.nav {
  background-color: none;
  margin-right: 30px;
}
.nav ul li {
  display: inline-block;
  font-size: 40px;
}
.nav ul {
  margin-right: 30px;
}
.nav a {
  font-size: 20px;
  margin-left: 10px;
  text-decoration: none;
  color: rgba(13, 13, 13, 0.916);
  align-content: space-around;
}
.nav a:hover {
  color: rgb(250, 254, 254);
}
.parrafo {
  height: 105px;
  width: 100%;
  background-image: linear-gradient(rgb(85, 92, 92), rgb(184, 184, 184));
  display: flex;
  text-transform: uppercase;
  border: 7px solid black;
}

.parrafo p {
  font-size: 18px;
  color: white;
  text-align: center;
  box-shadow: 10px 8px 12px black;
}
.parrafo img {
  border: 7px solid black;
}
.caru {
  height: 100px;
  width: 70%;
  display: inline;
}
.carousel-item {
  height: 100vh;
  min-height: 100px;
  background: no-repeat scroll scroll;
  -webkit-background-size: cover;
  background-size: cover;
}
.footer4 {
  background-image: linear-gradient(aqua, rgb(67, 10, 116));
  height: 200px;
  width: 100%;
  text-align: center;
}
.footer4 p {
  font-size: 20px;
}
.footer4 i {
  color: rgb(0, 0, 0);
  font-size: 30px;
}
