@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Poppins:ital,wght@0,400;0,600;1,200&family=Road+Rage&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Bangers", cursive;
  font-family: "Poppins", sans-serif;
  font-family: "Road Rage", cursive;
}

.contenedornav {
  height: 100px;
  width: 100%;
  background-image: linear-gradient(aqua, rgb(67, 10, 116));
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.logo {
  margin-left: 10px;
  background-color: none;
  font-size: 30px;
  font-family: monospace;
  font-family: fantasy;
  line-height: 40px;
}
.nav {
  background-color: none;
  margin-right: 30px;
}
.nav ul li {
  display: inline-block;
  font-size: 40px;
}
.nav a {
  font-size: 20px;
  margin-left: 10px;
  text-decoration: none;
  color: rgba(2, 2, 2, 0.916);
  align-content: space-around;
}
.nav a:hover {
  color: rgb(249, 252, 252);
}
section {
  background-image: linear-gradient(rgb(85, 92, 92), rgb(184, 184, 184));
  height: 110px;
  text-align: center;
}
section h1 {
  text-align: center;
  font-size: 45px;
  box-shadow: 10px 8px 12px black;
  animation-duration: 1s;
  animation-name: aparecer;
  animation-delay: 6s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}
.p {
  font-size: 50px;
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
.jum {
  background-color: aquamarine;
  height: 510px;
}
.jumbotron {
  height: 550px;
  width: 100%;
  background-image: url(img/4257.jpg);
  background-size: cover;
  background-position: center;
}
.jumbotron {
  color: antiquewhite;
  text-align: center;
}
.jumbotron h1 {
  color: white;
  text-transform: uppercase;
}
.jumbotron p {
  color: white;
  font-size: 20px;
}
.footer {
  background-color: aqua;
  height: 150px;
  width: 100%;
  text-align: center;
}
.footer p {
  font-size: 10px;
}
.footer i {
  color: black;
}
@media only screen and (min-width: 320px) {
  header {
    height: 45px;
  }
  .container {
    height: 170px;
  }

  .footer11 {
    height: 300px;
    width: 73%;
    padding: 40px;
    border: 2px solid black;
  }
  footer p {
    font-size: 7px;
    margin-bottom: 30px;
    text-align: center;
  }
  footer i {
    font-size: 30px;
  }
}
@media only screen and (min-width: 458px) {
  .container {
    height: 190px;
  }
}
@media only screen and (min-width: 786px) {
}
@media only screen and (min-width: 1011px) {
  .footer11 {
    height: 65px;
    width: 88%;
  }
}
